html, body{
        height: 100%;
        margin: 0;
        font-size: 16px;
        font-family: "Lato" sans-serif;
        font-weight: 400;
        line-height: 1.8em;
        color: #666;
}
.p-img1{
    background-image: url(images/image1.png);
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.p-img1, .p-img2, .p-img3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.p-img2{
    background-image: url(images/image2.png);
    min-height: 400px;
}
.p-img3{
    background-image: url(images/image3.png);
    min-height: 400px;
}
.p-text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.text-bg1, .text-bg2, .text-bg3{
    background: #313534;
    color: white;
    padding: 20px;
}
.section-one{
    padding: 50px 300px;
    text-align: center;
    background-color: white;
    color: gray;
}
.section-two, .section-three{
    padding: 50px 300px;
    text-align: center;
    background-color: #313534;
    color: white;
}
